/* :root {
  --primary-color: #264653;
  --secondary-color: #2a9d8f;
  --accent-color: #e9c46a;
  --highlight-color: #f4a261;
  --alert-color: #e76f51;
  --thirtiary-color: #f0fffd;
  --navbar-height: 80px;
  --mobile-navbar-height: 70px;
  --text-color: #333;
  --text-light: #fff;
  --border-color: #ddd;
} */

h1,
h2,
h3,
h4,
h5,
h6,
.category-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

body,
p,
a,
span,
li,
.topic-list a,
.document-item {
  font-family: "Inter", sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff;
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

#loadingSpinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block !important;
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#loadingInstruction {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 10;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  background: #f9f9f9;
}

.video-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
}

.video-item {
  background: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.video-item:hover {
  transform: scale(1.1);
  animation: bounce 0.5s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.video-item span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

@keyframes bounce {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.1);
  }
}

.video-item img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.document-item {
  background: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.document-item:hover {
  transform: scale(1.075);
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.download-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}

.document-item:hover .download-btn {
  display: block;
}

.resources-container {
  display: flex;
  width: 80%;
  margin: 20px auto;
}

.right-section {
  flex: 0.3;

  padding: 20px;
  background: #f9f9f9;
  border-right: 2px solid #ddd;
}

.left-section {
  flex: 0.7;

  padding: 20px;
}

.category-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.topic-list a {
  display: block;
  padding: 5px;
  color: rgb(31, 31, 31);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.topic-list a:hover {
  text-decoration: underline;
}

.document-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
